name: genkit
description: A type-safe Dart client library for calling Google Genkit flows with streaming support, authentication, and comprehensive error handling.
version: 0.9.1-wip
repository: https://github.com/genkit-ai/genkit-dart

environment:
  sdk: ^3.8.0

dependencies:
  http: ^1.4.0
  json_annotation: ^4.9.0

dev_dependencies:
  build_runner: ^2.8.0
  dart_flutter_team_lints: ^3.5.2
  json_serializable: ^6.11.1
  mockito: ^5.5.1
  schema_generator:
    path: tool/schema_generator
  test: ^1.26.3
