name: genkit_workspace
description: Genkit Dart Monorepo
publish_to: none

environment:
  sdk: ^3.10.0

workspace:
  # NOTE: This list is intentionally incomplete.
  # Packages that depend on flutter are excluded! 
  - packages/_schema_generator
  - packages/genkit
  - packages/genkit_mcp
  - packages/genkit_google_genai
  - packages/genkit_openai
  - packages/genkit_deepseek
  - packages/genkit_anthropic
  - packages/genkit_shelf
  - packages/genkit_chrome
  - packages/schemantic
  - packages/genkit_middleware
  - testapps/agentic_patterns
  - testapps/ai_features
  - testapps/anthropic_vertex
  - testapps/basic
  - testapps/chrome_example
  - testapps/openai_sample
  - testapps/mcp_server
  - testapps/middleware
  - testapps/remote_models

dev_dependencies:
  dart_flutter_team_lints: ^3.0.0
  melos: ^7.0.0
  path: ^1.9.1
  yaml: ^3.1.2
  
melos:
  name: genkit_workspace
  packages:
    - packages/**
  
  scripts:
    test:
      exec: dart test
      packageFilters:
        dirExists: test

    analyze:
      exec: dart analyze --fatal-infos .

    build-gen:
      run: |
        melos run build-gen-core
        melos run build-gen-plugins
        melos run build-gen-testapps
      description: Run build_runner in topological order (core -> plugins -> app) to avoid race conditions.

    build-gen-core:
      run: melos exec --scope="schemantic,genkit" -o -- dart run build_runner build && dart run tools/apply_license.dart
      description: Run build_runner for genkit.

    build-gen-plugins:
      run: |
        melos exec --scope="genkit_google_genai,genkit_openai,genkit_shelf,genkit_firebase_ai" --depends-on="build_runner" -- dart run build_runner build
      description: Run build_runner for plugins.

    build-gen-testapps:
      exec: dart run build_runner build
      packageFilters:
        scope: "{agentic_patterns,ai_features,basic_sample,openai_sample}"
      description: Run build_runner for testapps (except the flutter one!)

    dartdoc-check:
      run: dart tools/check_dartdoc.dart
      description: Run dartdoc over all non-private packages and check for warnings.
