name: genkit_workspace
description: Genkit Dart Monorepo
publish_to: none

environment:
  sdk: ^3.10.0

workspace:
  - packages/_schema_generator
  - packages/genkit
  - packages/genkit_google_genai
  - packages/genkit_shelf
  - packages/schemantic
  - testapps/agentic-patterns
  - testapps/ai_features
  - testapps/basic

dev_dependencies:
  dart_flutter_team_lints: ^3.0.0
  melos: ^7.0.0
  
melos:
  name: genkit_workspace
  packages:
    - packages/**
  
  scripts:
    test:
      exec: dart test
      packageFilters:
        dirExists: test

    analyze:
      exec: dart analyze --fatal-infos .


    build-gen:
      run: |
        melos run build-gen-core
        melos run build-gen-plugins
        melos run build-gen-testapps
      description: Run build_runner in topological order (core -> plugins -> app) to avoid race conditions.


    build-gen-core:
      run: |
        melos exec --scope="genkit" -- dart run build_runner build
        # For mockito generated files
        dart run tools/apply_license.dart
      description: Run build_runner for genkit.

    build-gen-plugins:
      run: |
        melos exec --scope="genkit_google_genai,genkit_shelf,genkit_firebase_ai" --depends-on="build_runner" -- dart run build_runner build
      description: Run build_runner for plugins.

    build-gen-testapps:
      run: |
        melos exec --scope="basic-sample,firebase_ai_testapp" -- dart run build_runner build
      description: Run build_runner for testapps.
      
