name: genkit_workspace
description: Genkit Dart Monorepo

environment:
  sdk: ^3.6.0

workspace:
  - packages/genkit
  - packages/genkit_google_ai
  - packages/genkit_shelf
  - tools/schema_builder

dev_dependencies:
  melos: ^6.3.1
  
# Shared dev dependencies can go here if we want to enforce versions, 
# but for now let's keep it minimal.
