name: genkit
description: A type-safe Dart client library for calling Google Genkit flows with streaming support, authentication, and comprehensive error handling.
version: 0.9.0
repository: https://github.com/genkit-ai/genkit-dart

environment:
  sdk: ^3.9.0

dependencies:
  google_cloud_ai_generativelanguage_v1beta: ^0.2.0
  http: ^1.6.0
  json_schema_builder: ^0.1.3
  json_annotation: ^4.9.0
  meta: ^1.12.0
  opentelemetry: ^0.18.10
  path: ^1.9.0
  flutter:
    sdk: flutter
  web_socket_channel: ^3.0.3
  google_cloud_protobuf: ^0.2.0

dev_dependencies:
  build_runner: ^2.8.0
  lints: ^6.0.0
  test: ^1.26.0
  mockito: ^5.4.4
  json_serializable: ^6.11.1
  schema_builder:
    path: tool/schema_builder
  code_builder: ^4.10.0
  dart_style: ^3.0.0
