name: Dart CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Run Dart Tests
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        sdk: ['3.10', dev]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Dart SDK
        uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}

      - name: Install Melos
        run: dart pub global activate melos

      - name: Bootstrap Workspace
        run: melos bootstrap

      - name: Run Code Generation
        run: melos run build-gen

      - name: Analyze Project Source
        run: melos run analyze

      - name: Run Tests
        run: melos run test

      - name: Verify clean git tree
        run: '[ -z "$(git status --short)" ] || (git status --short && exit 1)'
