name: Format

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: ~/.pub-cache
          key: ${{ runner.os }}-pub-cache-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: |
            ${{ runner.os }}-pub-cache-

      # Using Flutter here because we need to run `flutter pub upgrade` in some packages.
      # This is a bit annoying, but it's the easiest way to handle the mixed nature of the workspace.
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - run: dart pub upgrade

      - name: Pub upgrade in the non-workspace packages
        run: |
          for dir in $(dart run tools/list_non_workspace_packages.dart); do
            echo "Upgrading dependencies in $dir..."
            (cd $dir && flutter pub upgrade)
          done

      - name: Check Formatting
        run: dart format --output=none --set-exit-if-changed .
