name: Format

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Melos
        run: dart pub global activate melos

      - name: Bootstrap Workspace
        run: melos bootstrap

      - name: Pub upgrade in the non-workspace packages
        run: |
          for dir in $(dart run tools/list_non_workspace_packages.dart); do
            echo "Upgrading dependencies in $dir..."
            (cd $dir && flutter pub upgrade)
          done

      - name: Check Formatting
        run: dart format --output=none --set-exit-if-changed .
